<div class="element-wrapper {{content.element}}">
    <div class="element-page-break element-page-break-right">&#160;</div>
    <div class="element-page-pad-right">
        {% if content.number %}
        <div class="element-number">Appendix {{content.number}}</div>
        {% endif %}
        <h1 class="element-title">{{content.title}}</h1>
        {{html}}
    </div>
</div>
