@import "stylesheet";

// We like page breaks before the wrapper.
div.element-wrapper {
    padding-top: 10rem;
    page-break-before: always;
}

// All headers are centered here.
div.element-number {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    text-align: center;

    &.element-title {
        padding-bottom: 10rem;
    }
}
